<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <appSettings>
    <add key="adminUrl" value="http://localhost:29523"/>
	<add key="Mchid" value="1326865101"/>
    <!--微信公众号Mchid-->
    <add key="key" value="pkjrdlnuccljrgyhjehain2roiomette"/>
    <!--微信公众号key-->
    <add key="tenpay_notify" value="http://www.sanzhangzhi.cn/WxNotifyUrl.aspx"/>
    <!--支付成功后跳转页面-->
    <add key="redirect_uri" value="http://www.sanzhangzhi.cn/index.aspx"/>
    <!--微信点击菜单要跳转的页面地址[index.aspx中]-->
    <add key="appid" value="wxaee5f03fe6f98420"/>
    <!--微信公众号appid-->
    <add key="AppSecret" value="ae8bb7e8e5f4f2ff2552214df72b1a52"/>
    <!--微信公众号AppSecret-->
    <add key="jdpost" value="http://wx.qzmima.com/index.aspx?"/>
    <add key="SessionPrefix" value="JDFXAdmin_" />
    <add key="imgUpload" value="~/UploadFile/images/" />
  </appSettings>
  <connectionStrings>
   <add name="webadmin" connectionString="Data Source=.;Initial Catalog=WebSystem;Persist Security Info=True;User ID=web;Password=web123!@#" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Forms">
      <forms name="JD.FX_Admin" protection="All" timeout="1200" slidingExpiration="true" loginUrl="~/Login.aspx" />
    </authentication>
    <customErrors mode="Off" defaultRedirect="404.html" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpModules>
      <!--<remove name="Session" />-->
      <remove name="RoleManager" />
      <remove name="PassportAuthentication" />
      <remove name="Profile" />
      <remove name="ServiceModel" />
      <remove name="WindowsAuthentication" />
      <remove name="FileAuthorization" />
    </httpModules>
    <!--
        添加此节点是针对4.0  下的RequestValidation
    -->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2147483647" />
    <!--maxRequestLength是用于限制上传文件的最大长度，单位是kb，asp.net中上传文件默认值是4MB（4096KB）-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" />
    
  </system.web>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <remove name="ReportViewerWebControlHandler" />
    </handlers>
    <defaultDocument>
      <files>
                <remove value="index.html" />
        <remove value="Default.htm" />
        <remove value="Default.asp" />
        <remove value="index.htm" />
        <remove value="iisstart.htm" />
        <remove value="default.aspx" />
                <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
    </staticContent>
  </system.webServer>
</configuration>