<?xml version="1.0"?>
<!--
  ZipMode参数：当图片的原始宽度和原始高度都小于指定的宽高，则直接保存
  [1]：HW,指定高宽缩放（可能变形）
  [2]：W,指定宽，高按比例
  [3]：H,指定高，宽按比例
  [4]：CUT,指定高宽裁减（不变形）
  [5]：AUTO,自动适应高度
  
  注意：
  1、生成图片以“JD0_或JD1_....”根据图片的尺寸顺序生成，JD后面的值越大尺寸越大
  2、生成文件路径分别保存到file、image、media中，原图放于original中
  3、图片的原图会在相应的类型的original中
  4、PicturePosition : LT（左上）、RT（右上）、T（中上）、LC（左中）、C（中）、RC（右中）、LB（左下）、B（中下）、RB（右下）
-->
<Root>
  <News>
    <ZipMode>AUTO</ZipMode>
    <WidthSize>48,60,120</WidthSize>
    <HeightSize>48,60,120</HeightSize>
    <IsPictureWatermark>0</IsPictureWatermark>
    <WatermarkImage>~/UploadFile/product/water_default.png</WatermarkImage>
    <PicturePosition>C</PicturePosition>
    <PictureQuality>100</PictureQuality>
    <PictureCount>3</PictureCount>
    <IsTextWatermark>0</IsTextWatermark>
    <FontFamily>Arial</FontFamily>
    <FontColor>Blue</FontColor>
    <FontSize>12</FontSize>
    <WatermarkText>JDSITE</WatermarkText>
    <FileSize>2147483647</FileSize>
    <ImgagSize>2147483647</ImgagSize>
    <MediaSize>2147483647</MediaSize>
    <Url>~/UploadFile/news/</Url>
    <Prompt>提示：上传图片最佳规格</Prompt>
    <ImgageExtension>gif,jpg,jpeg,png,bmp</ImgageExtension>
    <FileExtension>doc,docx,xls,xlsx,ppt,htm,html,txt,zip,rar,gz,bz2</FileExtension>
    <MediaExtension>swf,flv,mp3,wav,wma,wmv,mid,avi,mpg,asf,rm,rmvb</MediaExtension>
    <ModuleName>新闻模块</ModuleName>
  </News>
  <Product>
    <ZipMode>AUTO</ZipMode>
    <WidthSize>48,60,120</WidthSize>
    <HeightSize>48,60,120</HeightSize>
    <IsPictureWatermark>0</IsPictureWatermark>
    <WatermarkImage>~/UploadFile/product/water_default.png</WatermarkImage>
    <PicturePosition>C</PicturePosition>
    <PictureQuality>90</PictureQuality>
    <PictureCount>3</PictureCount>
    <IsTextWatermark>0</IsTextWatermark>
    <FontFamily>Arial</FontFamily>
    <FontColor>Blue</FontColor>
    <FontSize>12</FontSize>
    <WatermarkText>JDSITE</WatermarkText>
    <FileSize>2147483647</FileSize>
    <ImgagSize>2147483647</ImgagSize>
    <MediaSize>2147483647</MediaSize>
    <Url>~/UploadFile/product/</Url>
    <Prompt>提示：上传图片最佳规格</Prompt>
    <ImgageExtension>gif,jpg,jpeg,png,bmp</ImgageExtension>
    <FileExtension>doc,docx,xls,xlsx,ppt,htm,html,txt,zip,rar,gz,bz2</FileExtension>
    <MediaExtension>swf,flv,mp3,wav,wma,wmv,mid,avi,mpg,asf,rm,rmvb,mpeg</MediaExtension>
    <ModuleName>产品模块</ModuleName>
  </Product>
  <Ad>
    <ZipMode>Auto</ZipMode>
    <WidthSize>48,60,120</WidthSize>
    <HeightSize>48,60,120</HeightSize>
    <IsPictureWatermark>0</IsPictureWatermark>
    <WatermarkImage>~/UploadFile/ad/water_default.png</WatermarkImage>
    <PicturePosition>C</PicturePosition>
    <PictureQuality>100</PictureQuality>
    <PictureCount>3</PictureCount>
    <IsTextWatermark>0</IsTextWatermark>
    <FontFamily>Arial</FontFamily>
    <FontColor>Blue</FontColor>
    <FontSize>12</FontSize>
    <WatermarkText>JDSITE</WatermarkText>
    <FileSize>2147483647</FileSize>
    <ImgagSize>2147483647</ImgagSize>
    <MediaSize>2147483647</MediaSize>
    <Url>~/UploadFile/ad/</Url>
    <Prompt>提示：上传图片最佳规格120*120</Prompt>
    <ImgageExtension>gif,jpg,jpeg,png,bmp</ImgageExtension>
    <FileExtension>doc,docx,xls,xlsx,ppt,htm,html,txt,zip,rar,gz,bz2</FileExtension>
    <MediaExtension>swf,flv,mp3,wav,wma,wmv,mid,avi,mpg,asf,rm,rmvb</MediaExtension>
    <ModuleName>广告模块</ModuleName>
  </Ad>
  <Link>
    <ZipMode>Auto</ZipMode>
    <WidthSize>48,60,120</WidthSize>
    <HeightSize>48,60,120</HeightSize>
    <IsPictureWatermark>0</IsPictureWatermark>
    <WatermarkImage>~/UploadFile/link/water_default.png</WatermarkImage>
    <PicturePosition>C</PicturePosition>
    <PictureQuality>100</PictureQuality>
    <PictureCount>3</PictureCount>
    <IsTextWatermark>0</IsTextWatermark>
    <FontFamily>Arial</FontFamily>
    <FontColor>Blue</FontColor>
    <FontSize>12</FontSize>
    <WatermarkText>JDSITE</WatermarkText>
    <FileSize>2147483647</FileSize>
    <ImgagSize>2147483647</ImgagSize>
    <MediaSize>2147483647</MediaSize>
    <Url>~/UploadFile/link/</Url>
    <Prompt>提示：上传图片最佳规格</Prompt>
    <ImgageExtension>gif,jpg,jpeg,png,bmp</ImgageExtension>
    <FileExtension>doc,docx,xls,xlsx,ppt,htm,html,txt,zip,rar,gz,bz2</FileExtension>
    <MediaExtension>swf,flv,mp3,wav,wma,wmv,mid,avi,mpg,asf,rm,rmvb</MediaExtension>
    <ModuleName>链接模块</ModuleName>
  </Link>
  <Common>
    <ZipMode>Auto</ZipMode>
    <WidthSize>48,60,120</WidthSize>
    <HeightSize>48,60,120</HeightSize>
    <IsPictureWatermark>0</IsPictureWatermark>
    <WatermarkImage>~/UploadFile/common/water_default.png</WatermarkImage>
    <PicturePosition>C</PicturePosition>
    <PictureQuality>100</PictureQuality>
    <PictureCount>3</PictureCount>
    <IsTextWatermark>0</IsTextWatermark>
    <FontFamily>Arial</FontFamily>
    <FontColor>Blue</FontColor>
    <FontSize>12</FontSize>
    <WatermarkText>JDSITE</WatermarkText>
    <FileSize>2147483647</FileSize>
    <ImgagSize>2147483647</ImgagSize>
    <MediaSize>2147483647</MediaSize>
    <Url>~/UploadFile/common/</Url>
    <Prompt>提示：上传图片最佳规格</Prompt>
    <ImgageExtension>gif,jpg,jpeg,png,bmp</ImgageExtension>
    <FileExtension>doc,docx,xls,xlsx,ppt,htm,html,txt,zip,rar,gz,bz2</FileExtension>
    <MediaExtension>swf,flv,mp3,wav,wma,wmv,mid,avi,mpg,asf,rm,rmvb</MediaExtension>
    <ModuleName>通用模块</ModuleName>
  </Common>
  <wxmessage>
    <ZipMode>AUTO</ZipMode>
    <WidthSize>48,60,120</WidthSize>
    <HeightSize>48,60,120</HeightSize>
    <IsPictureWatermark>0</IsPictureWatermark>
    <WatermarkImage>~/UploadFile/wxmessage/water_default.png</WatermarkImage>
    <PicturePosition>C</PicturePosition>
    <PictureQuality>100</PictureQuality>
    <PictureCount>3</PictureCount>
    <IsTextWatermark>0</IsTextWatermark>
    <FontFamily>wxmessage</FontFamily>
    <FontColor>Blue</FontColor>
    <FontSize>12</FontSize>
    <WatermarkText>JDSITE</WatermarkText>
    <FileSize>2147483647</FileSize>
    <ImgagSize>2147483647</ImgagSize>
    <MediaSize>2147483647</MediaSize>
    <Url>~/UploadFile/wxmessage/</Url>
    <Prompt>提示：上传图片最佳规格</Prompt>
    <ImgageExtension>gif,jpg,jpeg,png,bmp</ImgageExtension>
    <FileExtension>doc,docx,xls,xlsx,ppt,htm,html,txt,zip,rar,gz,bz2</FileExtension>
    <MediaExtension>swf,flv,mp3,wav,wma,wmv,mid,avi,mpg,asf,rm,rmvb</MediaExtension>
    <ModuleName>微信消息模块</ModuleName>
  </wxmessage>
  <topimg>
    <ZipMode>AUTO</ZipMode>
    <WidthSize>48,60,120</WidthSize>
    <HeightSize>48,60,120</HeightSize>
    <IsPictureWatermark>0</IsPictureWatermark>
    <WatermarkImage>~/UploadFile/topimg/water_default.png</WatermarkImage>
    <PicturePosition>C</PicturePosition>
    <PictureQuality>100</PictureQuality>
    <PictureCount>3</PictureCount>
    <IsTextWatermark>0</IsTextWatermark>
    <FontFamily>topimg</FontFamily>
    <FontColor>Blue</FontColor>
    <FontSize>12</FontSize>
    <WatermarkText>JDSITE</WatermarkText>
    <FileSize>2147483647</FileSize>
    <ImgagSize>2147483647</ImgagSize>
    <MediaSize>2147483647</MediaSize>
    <Url>~/UploadFile/topimg/</Url>
    <Prompt>提示：上传图片最佳规格</Prompt>
    <ImgageExtension>gif,jpg,jpeg,png,bmp</ImgageExtension>
    <FileExtension>doc,docx,xls,xlsx,ppt,htm,html,txt,zip,rar,gz,bz2</FileExtension>
    <MediaExtension>swf,flv,mp3,wav,wma,wmv,mid,avi,mpg,asf,rm,rmvb</MediaExtension>
    <ModuleName>封面图片模块</ModuleName>
  </topimg>
  <jp>
    <ZipMode>AUTO</ZipMode>
    <WidthSize>48,60,120</WidthSize>
    <HeightSize>48,60,120</HeightSize>
    <IsPictureWatermark>0</IsPictureWatermark>
    <WatermarkImage>~/UploadFile/jp/water_default.png</WatermarkImage>
    <PicturePosition>C</PicturePosition>
    <PictureQuality>100</PictureQuality>
    <PictureCount>3</PictureCount>
    <IsTextWatermark>0</IsTextWatermark>
    <FontFamily>Arial</FontFamily>
    <FontColor>Blue</FontColor>
    <FontSize>12</FontSize>
    <WatermarkText>JDSITE</WatermarkText>
    <FileSize>2147483647</FileSize>
    <ImgagSize>2147483647</ImgagSize>
    <MediaSize>2147483647</MediaSize>
    <Url>~/UploadFile/jp/</Url>
    <Prompt>提示：上传图片最佳规格</Prompt>
    <ImgageExtension>gif,jpg,jpeg,png,bmp</ImgageExtension>
    <FileExtension>doc,docx,xls,xlsx,ppt,htm,html,txt,zip,rar,gz,bz2</FileExtension>
    <MediaExtension>swf,flv,mp3,wav,wma,wmv,mid,avi,mpg,asf,rm,rmvb</MediaExtension>
    <ModuleName>奖品模块</ModuleName>
  </jp>
</Root>